<footer>
    <div id="footer1">

        <ul class="f1">
            
            <li class="f2"><a >© lll</a> </li> 
            <li class="f2"><a href="#Contact">Contact</a>  </li> 
            <li class="f2"> <a href="#About">About </a>  </li>
            <li>sveerama@uncc.edu</li>
            
    
        </ul>
    </div>
</footer>