<%- include ('./partials/header.ejs')%>
<div class="wrap">
	  <br/><br/><br/>

	<div class="intro_tab">
		<div class="firstTile">
			<table>
				<tr>
					<td>
						<img class="mySlides" src="https://www.circularx.eu/images/cases_cases/c_c/1440x640/screenshot-2022-02-07-125332_1644234863.jpg" alt="backgroundImage" width="1800" height="550" />
					</td>
				</tr>
			</table>
		</div>
		<br/><br/><br/>
	</div>
</div>   
<%- include('./partials/footer.ejs')%>