<%- include ('./partials/header.ejs')%>
<div class="wrap">
	  <br/><br/><br/>

	<div class="intro_tab">
		<div class="firstTile">
			<table>
				<tr>
					<td>
						<img class="mySlides" src="/images/background_main_page.jpg" alt="backgroundImage" width="800" height="550" />
					</td>
					<td>
						<div id="rcorners1"><img src="/images/contactUs.jpg" alt="introduction" width="600" height="500"/></div>
					</td>
				</tr>
			</table>
		</div>
		<br/><br/><br/>
	</div>
</div>   
<%- include('./partials/footer.ejs')%>