<%- include ('./partials/header.ejs')%>
<div class="wrap">
	  <br/><br/><br/>

	<div class="intro_tab">
		<div class="firstTile">
			<table>
				<tr>
					<h2> name - sai krishna veeramaneni</h2>
					<h2>email- sveerama@gmail.com</h2>
					<h3>please feel free to contact us regarding any query</h3>
				</tr>
			</table>
		</div>
		<br/><br/><br/>
	</div>
</div>   
<%- include('./partials/footer.ejs')%>