<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="/css/style.css">
  
  </div>
      <main>
          <article>
              <img src="https://www.backmarket.com/cdn-cgi/image/format%3Dauto%2Cquality%3D75%2Cwidth%3D1920/https://images.ctfassets.net/mmeshd7gafk1/3lmpkjytWDuKlpncYQQGDE/ef898ee1376691465042cf4e465a8922/Wheretheworldbuys_web.png" alt="index.ejs" width="1600" height="300">
              <h2 class="headingmain">Welcome to Mobi Traders </h2>
              <p>A new Journey for Your Phone Starts from hear</p>
          </article>
      </main>
      <div id="page-container">
          <div id="content-wrap">
            <!-- all other page content -->
          </div>
      </div>
<%- include('./partials/footer.ejs')%>