
<%- include('../partials/header.ejs')%>

<main class="form">

    <div class = "container">
        <div class="title">Login </div>
        <form action='/users/login' method='POST'>
            <table>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input type="email" id="email" name="email" class="fixed-width" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" name="password" class="fixed-width" required></td>
                </tr>
                <tr>
                    <td colspan="2" class="align-right"><button>Submit</button></td>
                </tr>
            </table>        
        </form>
    </div>

</main>
<%- include('../partials/footer.ejs')%>